<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mymall.product.mapper.SpuInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mymall.product.entity.SpuInfo">
        <result column="spu_name" property="spuName" />
        <result column="spu_description" property="spuDescription" />
        <result column="category_id" property="categoryId" />
        <result column="brand_id" property="brandId" />
        <result column="weight" property="weight" />
        <result column="publish_status" property="publishStatus" />
    </resultMap>

</mapper>
